@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap');
@import 'tailwindcss';


*{
  font-family: "Inter", sans-serif ;
}

@layer utilities {
  .full-green {
    @apply text-lime-500 bg-lime-500 
  }
}

@layer base{
  h6 {
    @apply text-green-500 font-bold
  }
}

@layer components{
  .card {
    @apply h-[30px] w-[30px] ring-1 ring-lime-400 border
  }
}

@utility test{
  @apply shadow-2xl shadow-amber-300
}
@theme{
  --font-inter: "Inter", sans-serif; 
  --font-itim : "Itim", sans-serif;
  --breakpoint-xss : 400px;
  --breakpoint-xs : 500px;
  

  /* --animate-blob : blob 0.4 infinite;

  @keyframes blob{
    0%{
      transform : "translate(0px,0px) scale(1)";
      
    },
    33%{
      transform : "translate(30px,-50px)  scale(1.2)";
    },
    66%{
      transform : "translate(-20px,20px) scale(0.8)";
    },
    100%{
      transform : "translate(0px,0px) scale(1)";
    }
  } */




} 

.customImage {
  background-image: url('./assets/wallet2.jpg');
}

.iti {
  --iti-path-flags-1x: url('../node_modules/intl-tel-input/build/img/flags.png');
  --iti-path-flags-2x: url('../node_modules/intl-tel-input/build/img/flags@2x.png');
  --iti-path-globe-1x: url('../node_modules/intl-tel-input/build/img/globe.png');
  --iti-path-globe-2x: url('../node_modules/intl-tel-input/build/img/globe@2x.png');
}

@layer base{

}

@layer utilities{
  .animation-delay-2000{
    animation-delay: 2s;
  }
  .animation-delay-4000{
    animation-delay: 4s;
  }
}