@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&display=swap');
@import 'tailwindcss';


*{
  font-family: "Inter", sans-serif ;
}

@theme{
  --font-inter: "Inter", sans-serif; 
  --font-itim : "Itim", sans-serif;
  --breakpoint-xss : 400px;
  --breakpoint-xs : 500px;
 
} 

.customImage {
  background-image: url('./assets/wallet2.jpg');
}

.iti {
  --iti-path-flags-1x: url('../node_modules/intl-tel-input/build/img/flags.png');
  --iti-path-flags-2x: url('../node_modules/intl-tel-input/build/img/flags@2x.png');
  --iti-path-globe-1x: url('../node_modules/intl-tel-input/build/img/globe.png');
  --iti-path-globe-2x: url('../node_modules/intl-tel-input/build/img/globe@2x.png');
}